# DISABLE CACHING
# <filesMatch "\.(json|html|htm|js|css|ico|png|svg|jpg|jpeg)$">
<filesMatch "\.(html|htm)$">
    Header add "Cache-Control" "no-cache"
    <ifModule mod_headers.c>
        Header unset ETag
        Header set Cache-Control "public, must-revalidate"
        Header set Pragma "no-cache"
        Header set Expires 0
    </ifModule>
    <ifModule mod_expires.c>
        ExpiresActive On
        ExpiresDefault "modification"
    </ifModule>
</filesMatch>