// TODO: make constants available in all scoped files
$color-primary = '#10182F'
$color-secondary = '#182445'
$color-accent = '#A8E5A3'
$color-error = '#DD543B'
$color-info = '#DAEEFB'
$color-success = '#4CAE79'
$color-warning = '#FFC533'